.about-video {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.about-text {
  flex: 1;
  min-width: 280px;
}

.about-video-box {
  flex: 1;
  min-width: 280px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 25px #00f7ff;
}

.about-video-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .about-video {
    flex-direction: column;
  }

  .about-video-box {
    flex: 1;
    min-width: 280px;
    position: relative;
    padding: 0;
    height: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 25px #00f7ff;
  }

}
