.Cbn-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 90%;
  max-width: 400px;
  background: #0f0f0f;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 247, 255, 0.2);
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.Cbn-popup.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.Cbn-popup h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.Cbn-popup input,
.Cbn-popup textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background: #111;
  color: #fff;
  outline: none;
  transition: 0.3s;
}

.Cbn-popup input:focus,
.Cbn-popup textarea:focus {
  box-shadow: 0 0 10px #00f7ff;
}

.Cbn-popup textarea {
  resize: none;
}

.Cbn-popup textarea::-webkit-scrollbar {
  display: none;
}

.web-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(45deg, #00f7ff, #8a2eff);
  color: #000;
  text-decoration: none;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.web-btn:hover {
  box-shadow: 0 0 20px #00f7ff;
}

.Cbn-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
}

.Cbn-close-btn:hover {
  color: red;
  cursor: pointer;
}

.Cbn-floating-btn {
  position: fixed;
  bottom: 60px;
  right: 30px;
  color: #25d366;
  text-decoration: none;
  font-size: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
